#login{
  border-color: #333;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#buscaInicial{
  height: 46px; !important
  width: 295px; !important
}

.conteudo-inicial{
  border-radius: 10px;
  background-color: #9999999c;
  padding-top: 30px;
  padding-bottom: 30px;
}

.espEsquerdo {
  padding-left: 45px;
}